@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../fonts/MontserratAlternates-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../fonts/MontserratAlternates-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../fonts/MontserratAlternates-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../fonts/MontserratAlternates-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../fonts/MontserratAlternates-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../fonts/MontserratAlternates-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
